@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #181a73;
    --accent-color: #004429;
    --aditional-accent-color: #9699b4;

    --heading-font: 'Darumadrop One', cursive;
    --paragraph-font: 'Montserrat', sans-seri;
    
    --nav-bg-color: #004429;
    --nav-link-color: #181a73;
    --nav-hover-link-color: #0004ffc7;
    --nav-hover-bg-color: #bfc2db;
}
body {
    margin: 60px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    color: #000;
}

.sociallinks {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    background-color: rgb(253, 255, 255);
    opacity: .8;
    position: absolute;
    top: 300px; left: 550px;
    font-size: 50px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

article img {
    float: right;
    width: 300px;
    height: auto;
}

article {
    display: block;
    border: solid #181a73;
    background-color: #e0e4f3;
    opacity: .7;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 450px; left: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.sociallinks img {
    width: 50px;
    height: auto;
}

